fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
passlib[bcrypt]
python-jose[cryptography]
asyncmy  # Async MySQL driver
email-validator # For email validation in Pydantic
python-multipart